doctype html
html
  head
    meta(charset='utf-8')
    title Browzer-games
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Browzer-games
    nav
      ul
        a#link(href='/') Home
        a#link(href='/colors') Colors
        a#link(href='/pacman') PACMAN
        a#link(href='/painter') Painter

    block content

    script(src='/js/vendor/jquery-2.1.1.min.js')
    script(src='/js/vendor/lodash.min.js')
    script(src='/js/vendor/moment.min.js')
    script(src='/js/user/main.js')

    block scripts

